.messages{
    position: sticky;
    top: 70px;
    right: 10%;
    background: var(--white);
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    height: max-content;
}
.message-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.message-top i{
    font-size: 25px;
}
.line{
    margin: 0 auto;
    width: 100%;
    height: 3px;
    background: var(--black);
    opacity: 0.3;
}
.line-active{
    margin: 0 auto;
    width: 100%;
    height: 3px;
    background: var(--black);
}
.link:hover .line{
    opacity: 1;
}
.link{
    color: black;
}
.link-row{
    display: flex;
    margin: 10px auto;
    gap:10px;
}
.searchbar{
    display: flex;
    justify-content: flex-start;
}
.searchbar input{
    width: 15vw;
}
.link-row h3{
    font-size: 1rem;
}
@media screen and (max-width: 901px) {
    .messages{
        display: none;
    }
}
@media screen and (max-width:1316px) {
    .link-row h3{
        font-size: 0.7rem;
    }
}
@media screen and (min-width: 902px ) {
    .messages{
        right:5%;
    }
}