*{
    margin: 0;
    box-sizing: border-box;
}
.main{
    background: var(--background);
}
.main-row{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
.middle{
    margin-left: 22.5%;
}
.between{
    padding-top: 50px;
}
@media screen and (max-width: 900px) {
    
    .middle{
        margin-top: 10%;
        margin-left: 0;
    }
    .main-row{
        margin:0;
    }
}