*{
    margin: 0;
    box-sizing: border-box;
}
.main{
    background: var(--background);
}
.main-row{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
.middle{
    margin-left: 22.5%;
}
.between{
    padding-top: 50px;
}